{% extends "comparison_survey/base.layout.html" %}
{% load crispy_forms_tags %}
{% block title %} Poll {% endblock title %}
{% block content %}
    <h1 style="text-align: center">Create Poll</h1>


    <div style="width: 1200px; margin: auto; background-color: antiquewhite     ">

    <form method="POST" action="{% url 'poll-create' %}">
        {% csrf_token %}
        <input type="hidden" name="host_id" value="">
        <div class="form-group">
            <label> <b>Category:</b> </label>
            <select name="category_id" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label> <b>Title:</b> </label>
            <input type="text" name="title" value="" class="form-control">
        </div>

      <div class="form-group">
          <label> <b>Image URL: </b></label>
            <input type="text" name="imageURL" value="" class="form-control">
        </div>

<br>
        <div class="form-group" >
            <label><b>Description: </b></label>
            <textarea name="description" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <div class="questions_answers" id="questions_answers">
            <div class="questions" id="questions"></div>
            <input type="hidden" name="total_questions_counter" id="total_questions_counter" value="">
            <input type="hidden" name="total_answers_counter" id="total_answers_counter" value="">
        </div>

        <br><br>

        <button type="submit" class="btn btn-primary"><b>Create Poll</b></button>

    </form>
    <br>
        <button onclick="addQuestion()" class="btn btn-info"><b>Add question</b></button>


    </div>
{% endblock content %}
