{% extends "comparison_survey/base.layout.html" %}
{% block title %} Poll {% endblock title %}
{% block content %}
    <!-- Search Start -->
    <div class="jumbotron border shadow">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form method="GET" action="{% url 'poll-home' %}">
                    <div class="input-group">
                        <input name="search" type="text" placeholder="Search" class="form-control form-control-lg"/>
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-lg" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search -->
    <br>
    <h2>Number of polls already passed: {{ numOfPollsPassed }}</h2>

    <h1>List of polls:</h1>

    {% for data in dataset %}
        <h1>Title: {{ data.title }}</h1>
        <img src="{{ data.imageURL }}" alt="image" height="200px" width="200px"> <br>
        <ul class="list-group">
            <li class="list-group-item">Description: {{ data.description }}</li>
            <li class="list-group-item">Rating: {{ data.rating }}</li>
            <li class="list-group-item">Passed: {{ data.passedCounter }} people</li>
            <li class="list-group-item">Created at: {{ data.createdAt }}</li>
            <li class="list-group-item">Category: {{ data.category_id.name }}</li>
        </ul>
        {% for poll_id in passedPolls %}
            {% if poll_id == data.id %}
                <p>Status: <span style="color: green">Passed</span></p>

                {% for rate in ratedPolls %}
                    {% if rate.poll_id == data.id %}
                        <p>Your Rating: {{ rate.rating }} </p>
                    {% endif %}
                {% endfor %}

                <form method="post" action="{% url 'poll-rate' %}">
                    {% csrf_token %}
                    <input type="hidden" name="poll_id" value="{{ data.id }}">
                    <label>Rate poll: </label>
                    <select name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit" class="btn btn-info"> Rate</button>
                </form>
                <p>Rated: {{ data.rateCounter }} people</p>
                <button id="report" onclick="showReportForm({{ data.id }})" class="btn btn-danger">Report</button> <br>
                <form action="{% url 'poll-report' %}" method="POST" id="report-section/{{ data.id }}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ data.id }}" name="poll_id">
                </form>

                <p><a href="/poll/{{ data.id }}/comments">Leave a comment</a></p>
            {% endif %}
        {% endfor %}

        <a href="/poll/{{ data.id }}">Pass now</a> <br>
        <a href="/poll/{{ data.id }}/stats">View Statistics</a> <br>

    {% endfor %}

{% endblock content %}