{% extends "comparison_survey/base.layout.html" %}
{% block title %} Poll {% endblock title %}
{% block content %}
    <h1>List of polls:</h1>

    {% for data in dataset %}
        Title: {{ data.title }} <br>
        <img src="{{ data.imageURL }}" alt="image" height="200px" width="200px"> <br>
        Description: {{ data.description }} <br>
        Rating: {{ data.rating }} <br>
        Created at: {{ data.createdAt }} <br>
        <a href="/poll/{{ data.id }}">Pass now</a>
        <form action="post">
            <button>Rate poll!</button>
        </form>
    {% endfor %}

{% endblock content %}