{% extends "comparison_survey/base.layout.html" %}
{% block title %} Poll {% endblock title %}
{% block content %}
    <h1>Poll Page</h1>

    <h2>Title: {{ poll.title }}</h2>
    <img src="{{ poll.imageURL }}" alt="image" height="200px" width="200px"> <br>
    <h3>Description: {{ poll.description }} </h3>
    <h3>Questions: </h3>
    {% for pollQuestion in pollQuestions %}
        Question: {{ pollQuestion.content }}<br>
        {% for pollAnswer in pollAnswers %}
            {% if pollAnswer.question_id.id == pollQuestion.id %}
                <input type="radio" value="{{ pollAnswer.id }}">{{ pollAnswer.content }}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">

{% endblock content %}