{% extends "comparison_survey/base.layout.html" %}
{% block title %} Reports {% endblock title %}
{% block content %}

    {% for poll in polls %}
        <h1>Title: {{ poll.title }}</h1>
        <img src="{{ poll.imageURL }}" alt="image" height="200px" width="200px"> <br>
        Description: {{ poll.description }} <br>
        Rating: {{ poll.rating }} <br>
        Passed: {{ poll.passedCounter }} people <br>
        Created at: {{ poll.createdAt }} <br>
        Category: {{ poll.category_id.name }} <br>
        <a href="/poll/{{ poll.id }}">Pass now</a> <br>
        <a href="/poll/{{ poll.id }}/stats">View Statistics</a> <br>

        View all reports: <a href="/poll/{{ poll.id }}/reports/">View all reports</a>

        <form action="/poll/{{ poll.id }}/delete" method="GET">
            <input type="submit" value="Delete Poll">
        </form>
    {% endfor %}

{% endblock %}