{% extends "comparison_survey/base.layout.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img"
                 style="max-height: 125px; max-width: 125px; margin-left: 20px; margin-right: 20px"
                 src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                Email: <p class="text-secondary">{{ user.email }}</p>
                Gender: <p class="text-secondary">{{ user.profile.gender }}</p>
                Higher Education: <p class="text-secondary">{{ user.profile.higher_education }}</p>
                Country: <p class="text-secondary">{{ user.profile.country }}</p>
                City: <p class="text-secondary">{{ user.profile.city }}</p>
                Birth Date: <p class="text-secondary">{{ user.profile.birth_date }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
    </div>
{% endblock content %}