{% extends "comparison_survey/csurvey.base.layout.html" %}

<!-- THERE WOULD BE RENDERED STATISTICS ABOUT USERS' C. Survey PASS (RATING OF RATE OBJECTS).
 -->

{% block title %} Statistics - {{ survey.topic }}{% endblock %}

{% block contents %}
    <a href="{% url 'comparison-survey-by-id' survey.pk%}">Go back</a>
    {% if results %}
        <h2>Results of {{ survey.topic }}</h2>
        <h3>Top {{ survey.top_number }}</h3>
        <table>
            <tr>
                <th>Rating</th>
                <th>Rate Object Name</th>
                <th>Score</th>
            </tr>
            {% for res in results %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ res.rate_object.description }}</td>
                    <td>{{ res.total }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>No statistical data foung for Comparison Survey - {{ survey.topic }}</h4>
    {% endif %}

    {% if user.is_authenticated %}

        send comment form here

    {% else %}

        <p>Please, <a href="{% url 'login' %}">Sign in</a> or
            <a href="{% url 'register' %}">Sign Up</a> to leave a comment</p>

    {% endif %}
{% endblock %}