{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Comparison surveys</title>
</head>
<body>
<div><a class="nav-link" href="{% url 'comparison-survey-home' %}">Go back home</a></div>
            {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'my-surveys-new' %}">Create new</a>


             {% if mySurveys %}
            <div>
                    <h1>My Surveys</h1>
            </div>
                 {% for cs in mySurveys %}
                    <div>
                        <h3>
                            <a href="{% url 'my-survey' cs.id %}">{{cs.topic}}</a>
                        </h3>
                        <form action="{% url 'my-surveys-delete' cs.id%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="save btn btn-default">Delete Survey</button>
                        </form>
                    </div>
                {% endfor %}

             {% else %}
                <h3>No results found</h3>
                 <a href="{% url 'my-surveys-new' %}">Create your own comparison survey</a>
            {% endif %}


            {% endif %}
</body>
</html>