{% extends "comparison_survey/csurvey.base.layout.html" %}

<!--USER's CSURVEYS PAGE. LATER WOULD BE ADDED STATISTICS (number of views total, number of created csurveys)-->

{% block title %}Dashboard{% endblock %}

{% block contents %}
    <a href="{% url 'my-surveys-new' %}">Create new</a>
    {% if user.is_authenticated %}
             {% if mySurveys %}
            <div>
                    <h1>My Surveys</h1>
            </div>
                 {% for cs in mySurveys %}
                    <div>
                        <h3>
                            <a href="{% url 'my-survey' cs.id %}">{{cs.topic}}</a>
                        </h3>
                        <a href="{% url 'my-surveys-change' cs.id %}">Edit</a>
                        <form action="{% url 'my-surveys-delete' cs.id%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="save btn btn-default">Delete Survey</button>
                        </form>
                        <hr>
                    </div>
                {% endfor %}

             {% else %}
                <h3>No results found</h3>
                 <a href="{% url 'my-surveys-new' %}">Create your own comparison survey</a>
            {% endif %}
            <!--STATISTICS ALSO NEEDED-->

    {% else %}
        <p>Please, <a href="{% url 'login' %}">Sign in</a> or
          <a href="{% url 'register' %}">Sign Up</a></p>
    {% endif %}
{% endblock %}