{% extends "comparison_survey/base.layout.html" %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}

    <h1>VoteRate site</h1>

    {% for survey in all_surveys %}
        <h2>{{ survey.topic }}</h2>
        <p> By {{ survey.user_id }}</p><br>
        <p>Top {{ survey.top_number }}</p><br>
        <p> : {{ survey.description }}</p><br>
        <p>Rating: {{ survey.rating }}</p><br><br>
        <p>created at {{ survey.date_created }}</p>
    {% endfor %}

{% endblock content %}
